{% extends "index.html" %}
{% load static %}

{% block content %}
<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
      <div class="container">
        <div
          class="banner_content d-md-flex justify-content-between align-items-center"
        >
          <div class="mb-3 mb-md-0">
            <h2>Rented Items</h2>
            <p></p>
          </div>
          <div class="page_link">
            <a href="index.html">Home</a>
            <a href="cart.html">Rented</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--================End Home Banner Area =================-->

  <!--================Cart Area =================-->
  <section class="cart_area">
    <div class="container">
      <div class="cart_inner">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Owner</th>
                <th scope="col">Product</th>
                <th scope="col">From Date</th>
                <th scope="col">To Date</th>
                <th scope="col">Rental Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                    <h5>Shaswat Kumar</h5>
                </td>
                <td>
                  <div class="media">
                    <div class="d-flex">
                      <img
                        src="{% static 'img/product/single-product/cart-1.jpg' %}"
                        alt=""
                      />
                    </div>
                    <div class="media-body">
                      <p>Minimalistic shop for multipurpose use</p>
                    </div>
                  </div>
                </td>
                <td>
                  <h5>9th May 2023</h5>
                </td>
                <td>
                    <h5>12th May 2023</h5>
                </td>
                <td>
                    <h5>$360.00</h5>
                </td>
              </tr>
           
             
              <tr class="bottom_button">
                <td>
                  <a class="gray_btn" href="#">Add Item</a>
                </td>
                <td></td>
                <td></td>
              
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>
  <!--================End Cart Area =================-->
{% endblock %}